@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap');

:root {
  background-color: #282c34;
}

.App {
  text-align: center;
  font-family: 'Baloo Thambi 2', cursive;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav {
  justify-content: flex-end;
}

.horse-image {
  height: 100px;
  margin-left: 5px;
  margin-right: 5px;
}

.header-title {
  margin-top: 10px;
}

#title {
  color: white;
}

#title:hover {
  text-decoration: none;
}

#coming-soon-img {
  max-width: 100%;
  margin-top: 20px;
}

.horse-form {
  text-align: left;
  width: 100%;
  display: grid;
  min-width: 300px;
  max-width: 100%;
}

.horse-form-container {
  width: 30%;
  min-width: 300px;
  justify-self: center;
}

.horse-form-label {
  padding-top: 10px;
  justify-self: center;
}

.horse-form-select {
  background-color: white;
  color: black;
  height: calc(1.5em + .75rem + 2px);
  border-radius: .25rem;
}

.image-preview-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.image-preview {
  max-height: 200px;
  margin-left: 20px;
  margin-right: 5px;
  margin-bottom: 15px;
}

.image-preview-individual-div {
  display: flex;
}

.x-circle {
  align-self: flex-start;

}

.x-circle:hover, .location-icon:hover {
  cursor: pointer;
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

.google-places-autocomplete > input {
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  border-radius: .25rem;
}

.google-places-autocomplete__suggestion:hover {
  background-color: lightblue;
}

.location {
  display: flex;
}

.places {
  width: 100%;
}

.location-button {
  margin-left: 5px;
  padding: 2px 5px;
}

.submit-wrapper {
  display: flex;
  justify-content: center;
}

.submit {
  margin-top: 20px;
  margin-bottom: 15px;
}